@import '../styles/variables.scss';


@keyframes scale {
    from {
        transform: scale(1) translateY(0px);
    }

    to {
        transform: scale(1.1) translateY(-8px);
    }
}

footer {
    background-color: $primaryText;
    
    .footer-container {
        display: flex;
        justify-content: space-between;
        max-width: 1240px;
        margin: auto;
        padding-top: 5dvh;

        .footer-logo {
            color: $text;
        }

        i {
            gap: 2dvh;
            transition: color .8s, animation .8s;
            color: $text;
        }

        i:hover {
            color: $primaryGreen;
            animation: scale 1s infinite linear;
        }
    }

    .copy {
        color: $text;
    }
}