@import '../styles/variables.scss';

.about {
    display: flex;
    max-width: 1240px;
    margin: auto;
    padding-top: 10dvh;

    div {
        flex: 1;
    }

    .about-text {
        margin-right: 2dvh;

        h1 {
            font-size: 3.5rem;
            color: $primaryText;
            margin-bottom: 7dvh;
            text-align: center;
        }

        p {
            color: $primaryText;
            line-height: 2rem;
        }

    }
}

.menu {
    display: flex;
    flex-direction: column;
    padding-top: 15dvh;
    max-width: 1240px;
    margin: auto;

    h2 {
        color: $primaryText;
        font-size: 2.6rem;
        text-align: center;
        margin-bottom: 5dvh;
    }

    .menu-paragraph {
        color: $primaryText;
        text-align: center;
        margin-bottom: 5dvh;
        line-height: 2rem;
    }

    .burger-container {
        display: flex;
        flex-direction: row;
        background-color: $white;
        border-radius: 2dvh;
        overflow: hidden;

        .burger-options {
            padding: 4dvh 4dvh;

            .first-option,
            .second-option,
            .third-option,
            .fourth-option {
                border-bottom: 1px dashed $secondaryBlack;
                margin: 4dvh 4dvh;

                .cheese-burger,
                .picanha-burger,
                .fries,
                .big-special {
                    display: flex;
                    justify-content: space-between;

                    .paragraph {
                        color: $text;
                        font-weight: 700;
                    }

                    span {
                        color: $primaryText;
                        font-weight: 700;
                    }
                }

                .burger-description {
                    color: $text;
                    line-height: 2rem;
                }
            }

            .btn-menu {
                display: flex;
                justify-content: space-between;

                button {
                    height: 6dvh;
                    width: 30dvh;
                    border: none;
                    border-radius: 5dvh;
                }

                .whatsapp-btn {
                    background-color: $yellow;
                    color: $white;
                    transition: background-color .8s;
                }

                .whatsapp-btn:hover {
                    background-color: $primaryText;
                }

                .menu-btn {
                    background-color: $secondaryBlack;
                    color: $white;
                    border-radius: 5dvh;
                    transition: opacity .8s;
                }

                .menu-btn:hover {
                    opacity: 70%;
                }
            }
        }

        .burger-img img {
            height: 120dvh;
            object-fit: cover;
        }
    }

    div {
        flex: 1;
    }
}

.drinks {
    display: flex;
    flex-direction: column;
    padding-top: 15dvh;
    max-width: 1240px;
    margin: auto;
    padding-bottom: 10dvh;

    h2 {
        color: $primaryText;
        font-size: 2.6rem;
        text-align: center;
        margin-bottom: 5dvh;
    }

    .menu-paragraph {
        color: $primaryText;
        text-align: center;
        margin-bottom: 5dvh;
    }

    .drinks-container {
        display: flex;
        flex-direction: row;
        background-color: $white;
        border-radius: 2dvh;
        overflow: hidden;

        .drinks-options {
            padding: 4dvh 4dvh;

            .first-option,
            .second-option,
            .third-option,
            .fourth-option {
                border-bottom: 1px dashed $secondaryBlack;
                margin: 4dvh 4dvh;

                .chopps,
                .beers,
                .soda,
                .juices {
                    display: flex;
                    justify-content: space-between;

                    .paragraph {
                        color: $text;
                        font-weight: 700;
                    }

                    span {
                        color: $primaryText;
                        font-weight: 700;
                    }
                }

                .description {
                    color: $text;
                    line-height: 2rem;
                }
            }

            .btn-menu {
                display: flex;
                justify-content: space-between;

                button {
                    height: 6dvh;
                    width: 30dvh;
                    border: none;
                    border-radius: 5dvh;
                }

                .whatsapp-btn {
                    background-color: $yellow;
                    color: $white;
                    transition: background-color .8s;
                }

                .whatsapp-btn:hover {
                    background-color: $primaryText;
                }

                .menu-btn {
                    background-color: $secondaryBlack;
                    color: $white;
                    border-radius: 5dvh;
                    transition: opacity .8s;
                }

                .menu-btn:hover {
                    opacity: 70%;
                }
            }
        }

        .drinks-img img {
            height: 120dvh;
            object-fit: cover;
        }
    }

    div {
        flex: 1;
    }
}

.location {
    padding-top: 5dvh;
    text-align: center;
    max-width: 1240px;
    margin: auto;

    h2 {
        font-size: 2.6rem;
        color: $primaryText;
        margin-bottom: 5dvh;
    }
}

.restaurant {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5dvh;
    margin-bottom: 5dvh;
    max-width: 1240px;
    margin: auto;

    h2 {
        color: $primaryText;
        font-size: 2.6rem;
        margin-bottom: 5dvh;
        margin-top: 5dvh;
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4dvh;
        max-width: 1240px;
        margin: auto;

        img {
            filter: brightness(40%);
            transition: transform .8s;
        }

        img:hover {
            transform: scale(1.1);
        }
    }
}

.cardapio {
    padding-top: 5dvh;
    padding-bottom: 5dvh;
    text-align: center;

    h2 {
        color: $primaryText;
        margin-bottom: 5dvh;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1240px;
        margin: auto;
        gap: 2dvh;

        .card {
            display: flex;
            flex-direction: row;
            border-radius: 2dvh;
            overflow: hidden;

            img {
                height: fit-content;
                width: 60%;
                object-fit: cover;
                filter: brightness(60%);
                transition: transform .8s;
            }

            img:hover {
                transform: rotate(5deg);
            }

            .card-text {
                margin-left: 2dvh;
                text-align: center;

                .card-text-title {
                    font-weight: 700;
                    margin-top: 1dvh;
                }

                .card-text-description {
                    line-height: 1.5rem;
                    color: $text;
                }

                .card-price {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .price-product {
                        color: $red;
                    }

                    .add-to-cart-btn {
                        background-color: $primaryBlack;
                        color: $white;
                        margin-right: 2dvh;
                        width: 10dvh;
                        border: none;
                        border-radius: 1dvh;
                        cursor: pointer;
                        transition: opacity .8s;
                    }

                    .add-to-cart-btn:hover {
                        opacity: 40%;
                    }
                }
            }
        }
    }
}

.cart-modal-button {
    display: flex;

    button {
        width: 100%;
        background-color: $red;
        color: $white;
        transition: opacity .8s;
    }

    button:hover {
        opacity: 80%;
    }
}

.fullscreen {
    position: fixed;
    z-index: 55;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    top: 0;
    left: 0;
    background-color: rgb( 0 0 0 / 0.4);

    .carrinho {
        background-color: $primaryWhite;
        min-width: 90%;
        border-radius: 2dvh;
        text-align: center;
        font-weight: bold;
        margin: 2dvh 2dvh;

        h2 {
            margin-top: 2dvh;
        }

        #cart-items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        p {
            font-weight: bold;
        }

        #address {
            width: 90%;
            padding: 2dvh 1dvh;
            margin: 2dvh 1dvh;
            border: none;
            border-radius: 1dvh;
        }

        #address-warn {
            color: rgb(201, 62, 62);
            font-weight: 500;
            display: none;
        }

        div {
            display: flex;
            justify-content: space-around;
            margin-bottom: 2dvh;
            gap: 3dvh;

            #close-modal-btn {
                border: none;
            }

            #checkout-btn {
                background-color: $green;
                color: $white;
                padding: 2dvh 2dvh;
                border-radius: 2dvh;
                border: none;
            }
        }
    }
}