@import '../styles/variables.scss';

@media screen and (min-width: 768px) {
    .carrinho {
        min-width: 600px !important;
    }
}

// devburger.html

@media (width <= 768px) {
    .about {
        display: flex;
        flex-direction: column;
        padding: 1dvh 1dvh;
        text-align: center;
    }

    .card-grid {
        display: grid;
        grid-template-columns: 1fr !important;
        padding: 2dvh 2dvh;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

// cardápio.html

@media (width <= 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr !important;
        padding: 1dvh 1dvh;

        .card {
            display: flex;
            flex-direction: column !important;

            img {
                width: 100% !important;
                object-fit: cover;
            }
        }
    }
}