@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes scale {
  from {
    transform: scale(1) translateY(0px);
  }
  to {
    transform: scale(1.1) translateY(-8px);
  }
}
footer {
  background-color: #fcbf49;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
  padding-top: 5dvh;
}
footer .footer-container i {
  gap: 2dvh;
  transition: color 0.8s, animation 0.8s;
}
footer .footer-container i:hover {
  color: #23A455;
  animation: scale 1s infinite linear;
}

@keyframes scale {
  from {
    transform: scale(1) translateY(0px);
  }
  to {
    transform: scale(1.1) translateY(-8px);
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
html {
  scroll-behavior: smooth;
}

header {
  background-color: #fcbf49;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
  padding: 3dvh 3dvh;
}
nav .nav-list {
  display: flex;
  gap: 3dvh;
  list-style: none;
}
nav .nav-list .nav-link {
  color: #363636;
  font-weight: 700;
  transition: color 0.8s, border-top 0.8s;
}
nav .nav-list .nav-link:hover {
  color: #23A455;
  border-top: solid 1px #23A455;
}
nav .nav-icons i {
  gap: 3dvh;
  transition: color 0.8s, animation 0.8s;
}
nav .nav-icons i:hover {
  color: #23A455;
  animation: scale 1s infinite linear;
}
nav #mobile_btn {
  display: none;
  background-color: transparent;
  color: #FFF;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#mobile_menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 5rem;
  width: 100%;
  padding: 1rem;
  z-index: 33;
}
#mobile_menu.active {
  display: flex;
}
#mobile_menu #mobile_nav_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  text-align: center;
}
#mobile_menu .nav_item {
  font-size: 1rem;
}
#mobile_menu .nav_item a {
  text-decoration: none;
  color: #363636;
}

#carouselExampleCaptions {
  position: relative;
}
#carouselExampleCaptions .carousel-caption {
  position: absolute;
  bottom: 30%;
}
#carouselExampleCaptions .carousel-caption p {
  line-height: 1.5rem;
}
#carouselExampleCaptions .carousel-btn {
  width: 30dvh;
  height: 6dvh;
  border: none;
  border-radius: 5dvh;
  color: #FFF;
  background-color: #444444;
  transition: background-color 0.8s;
  animation: pulse 1s infinite linear;
}
#carouselExampleCaptions .carousel-btn:hover {
  background-color: #fcbf49;
}
#carouselExampleCaptions i {
  margin-right: 2dvh;
}
#carouselExampleCaptions #hour {
  display: flex;
  text-align: center;
  background-color: #61CE70;
  position: absolute;
  bottom: -30%;
  left: 40%;
  padding: 1dvh 1dvh;
  border-radius: 1dvh;
}
#carouselExampleCaptions #hour span {
  text-align: center;
}

.about {
  display: flex;
  max-width: 1240px;
  margin: auto;
  padding-top: 10dvh;
}
.about div {
  flex: 1;
}
.about .about-text {
  margin-right: 2dvh;
}
.about .about-text h1 {
  font-size: 3.5rem;
  color: #fcbf49;
  margin-bottom: 7dvh;
  text-align: center;
}
.about .about-text p {
  color: #fcbf49;
  line-height: 2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  padding-top: 15dvh;
  max-width: 1240px;
  margin: auto;
}
.menu h2 {
  color: #fcbf49;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 5dvh;
}
.menu .menu-paragraph {
  color: #fcbf49;
  text-align: center;
  margin-bottom: 5dvh;
  line-height: 2rem;
}
.menu .burger-container {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  border-radius: 2dvh;
  overflow: hidden;
}
.menu .burger-container .burger-options {
  padding: 4dvh 4dvh;
}
.menu .burger-container .burger-options .first-option,
.menu .burger-container .burger-options .second-option,
.menu .burger-container .burger-options .third-option,
.menu .burger-container .burger-options .fourth-option {
  border-bottom: 1px dashed #444444;
  margin: 4dvh 4dvh;
}
.menu .burger-container .burger-options .first-option .cheese-burger,
.menu .burger-container .burger-options .first-option .picanha-burger,
.menu .burger-container .burger-options .first-option .fries,
.menu .burger-container .burger-options .first-option .big-special,
.menu .burger-container .burger-options .second-option .cheese-burger,
.menu .burger-container .burger-options .second-option .picanha-burger,
.menu .burger-container .burger-options .second-option .fries,
.menu .burger-container .burger-options .second-option .big-special,
.menu .burger-container .burger-options .third-option .cheese-burger,
.menu .burger-container .burger-options .third-option .picanha-burger,
.menu .burger-container .burger-options .third-option .fries,
.menu .burger-container .burger-options .third-option .big-special,
.menu .burger-container .burger-options .fourth-option .cheese-burger,
.menu .burger-container .burger-options .fourth-option .picanha-burger,
.menu .burger-container .burger-options .fourth-option .fries,
.menu .burger-container .burger-options .fourth-option .big-special {
  display: flex;
  justify-content: space-between;
}
.menu .burger-container .burger-options .first-option .cheese-burger .paragraph,
.menu .burger-container .burger-options .first-option .picanha-burger .paragraph,
.menu .burger-container .burger-options .first-option .fries .paragraph,
.menu .burger-container .burger-options .first-option .big-special .paragraph,
.menu .burger-container .burger-options .second-option .cheese-burger .paragraph,
.menu .burger-container .burger-options .second-option .picanha-burger .paragraph,
.menu .burger-container .burger-options .second-option .fries .paragraph,
.menu .burger-container .burger-options .second-option .big-special .paragraph,
.menu .burger-container .burger-options .third-option .cheese-burger .paragraph,
.menu .burger-container .burger-options .third-option .picanha-burger .paragraph,
.menu .burger-container .burger-options .third-option .fries .paragraph,
.menu .burger-container .burger-options .third-option .big-special .paragraph,
.menu .burger-container .burger-options .fourth-option .cheese-burger .paragraph,
.menu .burger-container .burger-options .fourth-option .picanha-burger .paragraph,
.menu .burger-container .burger-options .fourth-option .fries .paragraph,
.menu .burger-container .burger-options .fourth-option .big-special .paragraph {
  color: #363636;
  font-weight: 700;
}
.menu .burger-container .burger-options .first-option .cheese-burger span,
.menu .burger-container .burger-options .first-option .picanha-burger span,
.menu .burger-container .burger-options .first-option .fries span,
.menu .burger-container .burger-options .first-option .big-special span,
.menu .burger-container .burger-options .second-option .cheese-burger span,
.menu .burger-container .burger-options .second-option .picanha-burger span,
.menu .burger-container .burger-options .second-option .fries span,
.menu .burger-container .burger-options .second-option .big-special span,
.menu .burger-container .burger-options .third-option .cheese-burger span,
.menu .burger-container .burger-options .third-option .picanha-burger span,
.menu .burger-container .burger-options .third-option .fries span,
.menu .burger-container .burger-options .third-option .big-special span,
.menu .burger-container .burger-options .fourth-option .cheese-burger span,
.menu .burger-container .burger-options .fourth-option .picanha-burger span,
.menu .burger-container .burger-options .fourth-option .fries span,
.menu .burger-container .burger-options .fourth-option .big-special span {
  color: #fcbf49;
  font-weight: 700;
}
.menu .burger-container .burger-options .first-option .burger-description,
.menu .burger-container .burger-options .second-option .burger-description,
.menu .burger-container .burger-options .third-option .burger-description,
.menu .burger-container .burger-options .fourth-option .burger-description {
  color: #363636;
  line-height: 2rem;
}
.menu .burger-container .burger-options .btn-menu {
  display: flex;
  justify-content: space-between;
}
.menu .burger-container .burger-options .btn-menu button {
  height: 6dvh;
  width: 30dvh;
  border: none;
  border-radius: 5dvh;
}
.menu .burger-container .burger-options .btn-menu .whatsapp-btn {
  background-color: #F0C002;
  color: #FFF;
  transition: background-color 0.8s;
}
.menu .burger-container .burger-options .btn-menu .whatsapp-btn:hover {
  background-color: #fcbf49;
}
.menu .burger-container .burger-options .btn-menu .menu-btn {
  background-color: #444444;
  color: #FFF;
  border-radius: 5dvh;
  transition: opacity 0.8s;
}
.menu .burger-container .burger-options .btn-menu .menu-btn:hover {
  opacity: 70%;
}
.menu .burger-container .burger-img img {
  height: 120dvh;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu div {
  flex: 1;
}

.drinks {
  display: flex;
  flex-direction: column;
  padding-top: 15dvh;
  max-width: 1240px;
  margin: auto;
  padding-bottom: 10dvh;
}
.drinks h2 {
  color: #fcbf49;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 5dvh;
}
.drinks .menu-paragraph {
  color: #fcbf49;
  text-align: center;
  margin-bottom: 5dvh;
}
.drinks .drinks-container {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  border-radius: 2dvh;
  overflow: hidden;
}
.drinks .drinks-container .drinks-options {
  padding: 4dvh 4dvh;
}
.drinks .drinks-container .drinks-options .first-option,
.drinks .drinks-container .drinks-options .second-option,
.drinks .drinks-container .drinks-options .third-option,
.drinks .drinks-container .drinks-options .fourth-option {
  border-bottom: 1px dashed #444444;
  margin: 4dvh 4dvh;
}
.drinks .drinks-container .drinks-options .first-option .chopps,
.drinks .drinks-container .drinks-options .first-option .beers,
.drinks .drinks-container .drinks-options .first-option .soda,
.drinks .drinks-container .drinks-options .first-option .juices,
.drinks .drinks-container .drinks-options .second-option .chopps,
.drinks .drinks-container .drinks-options .second-option .beers,
.drinks .drinks-container .drinks-options .second-option .soda,
.drinks .drinks-container .drinks-options .second-option .juices,
.drinks .drinks-container .drinks-options .third-option .chopps,
.drinks .drinks-container .drinks-options .third-option .beers,
.drinks .drinks-container .drinks-options .third-option .soda,
.drinks .drinks-container .drinks-options .third-option .juices,
.drinks .drinks-container .drinks-options .fourth-option .chopps,
.drinks .drinks-container .drinks-options .fourth-option .beers,
.drinks .drinks-container .drinks-options .fourth-option .soda,
.drinks .drinks-container .drinks-options .fourth-option .juices {
  display: flex;
  justify-content: space-between;
}
.drinks .drinks-container .drinks-options .first-option .chopps .paragraph,
.drinks .drinks-container .drinks-options .first-option .beers .paragraph,
.drinks .drinks-container .drinks-options .first-option .soda .paragraph,
.drinks .drinks-container .drinks-options .first-option .juices .paragraph,
.drinks .drinks-container .drinks-options .second-option .chopps .paragraph,
.drinks .drinks-container .drinks-options .second-option .beers .paragraph,
.drinks .drinks-container .drinks-options .second-option .soda .paragraph,
.drinks .drinks-container .drinks-options .second-option .juices .paragraph,
.drinks .drinks-container .drinks-options .third-option .chopps .paragraph,
.drinks .drinks-container .drinks-options .third-option .beers .paragraph,
.drinks .drinks-container .drinks-options .third-option .soda .paragraph,
.drinks .drinks-container .drinks-options .third-option .juices .paragraph,
.drinks .drinks-container .drinks-options .fourth-option .chopps .paragraph,
.drinks .drinks-container .drinks-options .fourth-option .beers .paragraph,
.drinks .drinks-container .drinks-options .fourth-option .soda .paragraph,
.drinks .drinks-container .drinks-options .fourth-option .juices .paragraph {
  color: #363636;
  font-weight: 700;
}
.drinks .drinks-container .drinks-options .first-option .chopps span,
.drinks .drinks-container .drinks-options .first-option .beers span,
.drinks .drinks-container .drinks-options .first-option .soda span,
.drinks .drinks-container .drinks-options .first-option .juices span,
.drinks .drinks-container .drinks-options .second-option .chopps span,
.drinks .drinks-container .drinks-options .second-option .beers span,
.drinks .drinks-container .drinks-options .second-option .soda span,
.drinks .drinks-container .drinks-options .second-option .juices span,
.drinks .drinks-container .drinks-options .third-option .chopps span,
.drinks .drinks-container .drinks-options .third-option .beers span,
.drinks .drinks-container .drinks-options .third-option .soda span,
.drinks .drinks-container .drinks-options .third-option .juices span,
.drinks .drinks-container .drinks-options .fourth-option .chopps span,
.drinks .drinks-container .drinks-options .fourth-option .beers span,
.drinks .drinks-container .drinks-options .fourth-option .soda span,
.drinks .drinks-container .drinks-options .fourth-option .juices span {
  color: #fcbf49;
  font-weight: 700;
}
.drinks .drinks-container .drinks-options .first-option .description,
.drinks .drinks-container .drinks-options .second-option .description,
.drinks .drinks-container .drinks-options .third-option .description,
.drinks .drinks-container .drinks-options .fourth-option .description {
  color: #363636;
  line-height: 2rem;
}
.drinks .drinks-container .drinks-options .btn-menu {
  display: flex;
  justify-content: space-between;
}
.drinks .drinks-container .drinks-options .btn-menu button {
  height: 6dvh;
  width: 30dvh;
  border: none;
  border-radius: 5dvh;
}
.drinks .drinks-container .drinks-options .btn-menu .whatsapp-btn {
  background-color: #F0C002;
  color: #FFF;
  transition: background-color 0.8s;
}
.drinks .drinks-container .drinks-options .btn-menu .whatsapp-btn:hover {
  background-color: #fcbf49;
}
.drinks .drinks-container .drinks-options .btn-menu .menu-btn {
  background-color: #444444;
  color: #FFF;
  border-radius: 5dvh;
  transition: opacity 0.8s;
}
.drinks .drinks-container .drinks-options .btn-menu .menu-btn:hover {
  opacity: 70%;
}
.drinks .drinks-container .drinks-img img {
  height: 120dvh;
  -o-object-fit: cover;
     object-fit: cover;
}
.drinks div {
  flex: 1;
}

.location {
  padding-top: 5dvh;
  text-align: center;
  max-width: 1240px;
  margin: auto;
}
.location h2 {
  font-size: 2.6rem;
  color: #fcbf49;
  margin-bottom: 5dvh;
}

.restaurant {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5dvh;
  margin-bottom: 5dvh;
  max-width: 1240px;
  margin: auto;
}
.restaurant h2 {
  color: #fcbf49;
  font-size: 2.6rem;
  margin-bottom: 5dvh;
  margin-top: 5dvh;
}
.restaurant .card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4dvh;
  max-width: 1240px;
  margin: auto;
}
.restaurant .card-grid img {
  filter: brightness(40%);
  transition: transform 0.8s;
}
.restaurant .card-grid img:hover {
  transform: scale(1.1);
}

.cardapio {
  padding-top: 5dvh;
  padding-bottom: 5dvh;
  text-align: center;
}
.cardapio h2 {
  color: #fcbf49;
  margin-bottom: 5dvh;
  font-size: 2.6rem;
}
.cardapio .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1240px;
  margin: auto;
  gap: 2dvh;
}
.cardapio .grid .card {
  display: flex;
  flex-direction: row;
  border-radius: 2dvh;
  overflow: hidden;
}
.cardapio .grid .card img {
  height: -moz-fit-content;
  height: fit-content;
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(50%);
  transition: transform 0.8s;
}
.cardapio .grid .card img:hover {
  transform: rotate(5deg);
}
.cardapio .grid .card .card-text {
  margin-left: 2dvh;
  text-align: center;
}
.cardapio .grid .card .card-text .card-text-title {
  font-weight: 700;
  margin-top: 1dvh;
}
.cardapio .grid .card .card-text .card-text-description {
  line-height: 1.5rem;
  color: #363636;
}
.cardapio .grid .card .card-text .card-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardapio .grid .card .card-text .card-price .price-product {
  color: rgb(201, 62, 62);
}
.cardapio .grid .card .card-text .card-price .add-to-cart-btn {
  background-color: #282828;
  color: #FFF;
  margin-right: 2dvh;
  width: 10dvh;
  border: none;
  border-radius: 1dvh;
  cursor: pointer;
  transition: opacity 0.8s, transform 0.8s;
}
.cardapio .grid .card .card-text .card-price .add-to-cart-btn:hover {
  opacity: 40%;
  transform: scale(1.1);
}

.cart-modal-button {
  display: flex;
}
.cart-modal-button #cart-btn {
  width: 100%;
  background-color: rgb(201, 62, 62);
  color: #FFF;
  transition: opacity 0.8s;
}
.cart-modal-button #cart-btn:hover {
  opacity: 80%;
}

.fullscreen {
  position: fixed;
  z-index: 55;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.fullscreen .carrinho {
  background-color: #ECECEC;
  min-width: 90%;
  border-radius: 2dvh;
  text-align: center;
  font-weight: bold;
  margin: 2dvh 2dvh;
}
.fullscreen .carrinho h2 {
  margin-top: 2dvh;
}
.fullscreen .carrinho #cart-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fullscreen .carrinho p {
  font-weight: bold;
}
.fullscreen .carrinho #address {
  width: 90%;
  padding: 2dvh 1dvh;
  margin: 2dvh 1dvh;
  border: none;
  border-radius: 1dvh;
}
.fullscreen .carrinho #address-warn {
  color: rgb(201, 62, 62);
  font-weight: 500;
  display: none;
}
.fullscreen .carrinho div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2dvh;
  gap: 3dvh;
}
.fullscreen .carrinho div #close-modal-btn {
  border: none;
}
.fullscreen .carrinho div #checkout-btn {
  background-color: #61CE70;
  color: #FFF;
  padding: 2dvh 2dvh;
  border-radius: 2dvh;
  border: none;
}

@media screen and (max-width: 600px) {
  nav {
    display: flex !important;
    padding: 1dvh 1dvh !important;
  }
}
@media screen and (max-width: 600px) {
  #mobile_btn {
    display: block !important;
  }
}
@media screen and (max-width: 1170px) {
  .nav-list {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .carrinho {
    min-width: 600px !important;
  }
}
@media (width <= 768px) {
  #carouselExampleCaptions {
    position: relative;
  }
  #carouselExampleCaptions .carousel-caption {
    position: absolute;
  }
  #carouselExampleCaptions .carousel-caption h2,
  #carouselExampleCaptions .carousel-caption p {
    display: none;
  }
}
@media (width <= 768px) {
  .about {
    display: flex;
    flex-direction: column;
    padding: 1dvh 1dvh;
    text-align: center;
  }
  .card-grid {
    display: grid;
    grid-template-columns: 1fr !important;
    padding: 2dvh 2dvh;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (width <= 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr !important;
    padding: 1dvh 1dvh;
  }
  .grid .card {
    display: flex;
    flex-direction: column !important;
  }
  .grid .card img {
    width: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (width <= 768px) {
  .menu {
    padding: 1dvh 1dvh;
  }
  .drinks {
    padding: 1dvh 1dvh;
  }
  .burger-container,
  .drinks-container {
    display: flex;
    flex-direction: column !important;
  }
  .drinks img {
    width: 100% !important;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .burger-img img {
    width: 100% !important;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  button {
    max-width: -moz-max-content;
    max-width: max-content;
    padding: 1dvh 1dvh;
  }
  .whatsapp-btn {
    margin-right: 2dvh;
  }
}
@media (width <= 768px) {
  .location {
    padding: 1dvh 1dvh;
  }
}
@media (width <= 768px) {
  .cart-modal-button {
    display: flex !important;
  }
  .cart-modal-button #cart-btn {
    width: 100%;
  }
}
@media (width <= 768px) {
  #cart-items {
    padding: 1dvh 1dvh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

header {
  width: 100%;
}

body {
  width: 100%;
  height: 100dvh;
  position: relative;
  overflow-x: hidden;
}

main {
  background-color: #3a3a3a;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Open Sans", serif;
  font-size: 1rem;
}

button {
  cursor: pointer;
  font-family: "Open Sans", serif;
  font-size: 1rem;
}

a {
  cursor: pointer;
  font-family: "Open Sans", serif;
  font-size: 1rem;
}

i {
  cursor: pointer;
}

img {
  width: 100%;
}

svg {
  width: 100%;
}

@media (width <= 768px) {
  h1, h2 {
    font-size: 2rem !important;
  }
}/*# sourceMappingURL=styles.css.map */